{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}


<!--DOCTYPE html>
<html>

<head>
	<title>Contact</title>
	<link rel="icon" type="image/png" href={% static 'website/images/fav.png' %}>

</head>
<body-->
	<h2>Get in Touch {{ message_name }} </h2>
	

	<form action="{% url 'contact' %}" method="post">
		{% csrf_token %}
	  <div class="row">
	  	<input type="text" name="message-name" placeholder="      your name">
	  	<input type="email" name="message-email" placeholder="@email">
	  	
	  </div>
	  <div>
		<button type="submit" >send message</button>	  	
	  </div>
	  
	</form>



{% endblock %}